/* Common*/
@font-face {
    font-family: 'STFangsong';
    src: url('../assets/font/chinese.stfangso.ttf') format('opentype');
}

@font-face {
    font-family: 'NotoSans-Thin';
    src: url('../assets/font/NotoSans-Thin.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../assets/font/Roboto-Thin.ttf') format('opentype');
}


a {
    text-decoration: none;
    color: white;
}

p,
span,
a {
    letter-spacing: 2px;
}

ul li {
    list-style-type: none;
}

.button {
    border: 1px solid #d0d0d0;
    display: inline-block;
    line-height: 45px;
    margin: 8px;
    padding: 0 25px;
    border-radius: 3px;
}

body {
    background-image: url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
}

.txt p span {
    display: block;
}