/* header */

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.78);
    @media screen and (max-width: 767px) {
        background-color: rgba(0, 0, 0, 0);
    }
    div.inner {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        ul li {
            display: inline;
            margin: 25px;
            a {
                font-family: 'STFangsong';
                font-size: 17px;
            }
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    div.sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: rgba(0, 0, 0, 0.78);
        overflow-x: hidden;
        padding-top: 100px;
        transition: 0.5s;
        a {
            font-family: 'STFangsong';
            padding: 15px 0px 15px 0px;
            text-align: center;
            text-decoration: none;
            font-size: 25px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }
        a:hover {
            color: #f1f1f1;
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
}
